/**
 * Footer Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

.footer {    
    padding: 0;
    margin: 0;
    
    p,
    ul li a {
        color:$white;
        line-height: 170%;
        font-size: 16px;
    }
    
    strong {
        margin-bottom: 5px;
        display: inline-block;
    }

    .spacer-60 {
        @include respond(phone) {
            height:30px;
        }
    }

    .container {
        max-width: 100%;
        margin:0;
        padding:0 !important;

        .columns {
            align-items: normal;
            
            .footer-left {
                width: 27%;
                background: #082e1e;
                padding: 100px 40px 50px 5%;
                box-sizing: border-box;

                @include respond(desktop-lg) {
                    width: 31%;
                }

                @include respond(tab-land) {
                    width: 100%;
                    padding: 70px 40px 20px;
                }

                .custom-logo-link {
                    img {
                        max-width: 350px;
                        width: auto;

                        @include respond(phone) {
                            max-width: 270px;
                        }
                    }
                }

                p.large {
                    font-size: 24px;
                    line-height: 125%;
                    font-weight: 200;
                }

                .btn {
                    background:$green;
                    border:2px solid $white;
                }
            }

            .footer-right {
                width: 73%;
                padding:100px 5% 50px 150px;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                background: linear-gradient(97deg, #082e1e 0%, #082e1e 8%, #09472c 8%, #09472c 100%);
                
                @include respond(desktop-lg) {
                    width: 69%;
                    background: linear-gradient(97deg, #082e1e 0%, #082e1e 10%, #09472c 10%, #09472c 100%);
                }

                @include respond(desktop) {
                    background: linear-gradient(95deg, #082e1e 0%, #082e1e 10%, #09472c 10%, #09472c 100%);
                }

                @include respond(tab-land) {
                    width: 100%;
                    padding:140px 40px 50px;
                    background: linear-gradient(184deg, #082e1e 0%, #082e1e 8%, #09472c 8%, #09472c 100%);
                }

                @include respond(phone) {
                    background: linear-gradient(184deg, #082e1e 0%, #082e1e 5%, #09472c 5%, #09472c 100%);
                    text-align: center;
                }

                .address-map {
                    justify-content: space-between !important;

                    @include respond(desktop) {
                        width: 100%;
                        margin:40px auto;
                    }

                    @include respond(phone) {
                        margin:0 auto 30px;
                    }

                    p {
                        margin-bottom: 0;

                        a {
                            text-decoration: none;
                            display: block;
                            font-size: 15px;

                            &:hover {
                                color:$white;
                                text-decoration: underline;
                            }
                        }
                    }
                    
                    .footer-address {
                        max-width: 35%;
    
                        @include respond(tab-port) {
                            width:100%;
                            max-width: 100%;
                        }
                    }
                
                    .footer-map {
                        width: 100%;
                        margin-top: 20px;
                        
                        @include respond(tab-port) {
                            width:100%;
                            max-width: 100%;
                            margin-bottom: 30px;
                        }
                
                        iframe {
                            max-width: 100%;
                            height: 180px;
                            width: 100%;
                        }
                    }
                }
    
                .menu {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    @include respond(desktop) {
                        width: 50%;
                    }

                    @include respond(phone) {
                        width: 100%;
                        margin-bottom: 30px;
                    }
            
                    li {
                        margin-left: 0;
        
                        a {
                            text-decoration: underline;
                            font-family: $inter;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 210%;

                            &:hover {
                                color:$white;
                                text-decoration: none;
                            }
                        }
                    }
                
                    p {
                        margin-bottom: 7px;
                    }
                }
    
                a.social-link {
                    span {
                        margin-right: 10px;
                        color: $dkblue;
                        background: $white;
                        font-size: 25px;
                        border-radius: 50%;
                        transition: $trans;
                    }
                }
    
                .footer-social {
                    display:flex;
                    width: 100%;
                    margin-bottom: 20px;
    
                    @include respond(tab-port) {
                        width:100%;
                        max-width: 100%;
                    }
                }
    
                .footer-utility {
                    width:100%;
    
                    @include respond(tab-port) {
                        width:100%;
                        max-width: 100%;
                    }

                    @include respond(phone) {
                        text-align: left;
                    }
    
                    .utility {
                        margin-bottom: 15px;
                        
                        a {
                            font-size: 14px;
                            text-decoration: underline;
                            margin-right: 20px;
                            color:$white;

                            &:hover {
                                color: $white;
                                text-decoration: none;
                            }

                            @include respond(phone) {
                                display:block;
                                margin:15px 0;
                            }
                        }
                    }
    
                    .disclaimer {
                        @include respond(phone) {
                            margin-top: 30px;
                        }
                    }
                }
            }
            
        }
    }
}