/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	border: 0;
}

html, body {
	font-size: 18px;
	line-height: 1;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
    margin:0;
}

ul {
	list-style-type: disc;
	margin-left:20px;
}

ol {
	margin-left:20px;
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}
 
body {
	background:$white;
}

.custom-logo-link {
    img {
        max-height: 60px;
        width: auto;
        -webkit-filter: invert(1);
                filter: invert(1);
    }
}

.body-container {
    margin-top: 78px;

    ul {
        list-style-type: square;
    }

    .btn {
        background: linear-gradient(112deg, rgba(18,142,90,1) 0%, rgba(9,71,45,1) 100%);
        color:$white;
        transition: $trans;

        &:hover {
            background:#082e1e !important;
            transition: $trans;
        }
    }

    .green-tick {
        background: $green;
        width: 100px;
        height: 12px;
        -webkit-clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
        margin: 12px 0 30px;
    }

    p a,
    ul li a {
        color:$blk;
        text-decoration: underline;

        &:hover {
            color: $green;
            text-decoration: none;
        }
    }

    @include respond(tab-land) {
		margin-top:76px;
	}

    .main-content {
        h2 {
            &:first-of-type {
                margin-top: 0 !important;
            }
        }

        h2,
        h3,
        h4 {
            font-weight: 200;
            
            a {
                font-family: inherit;
                font-size: inherit;
                color:inherit;
                text-decoration: underline;
            }
        }

        h3 {
            font-weight: 300;
        }

        a {
            h2 {
                text-decoration: none;
            }

            &:hover {
                h2 {
                    text-decoration:underline;
                }
            }
        }

        .column-33 {
            @include respond(tab-port) {
                margin-top: 60px;
            }
        }
    }
}

.container {
    max-width:$container-max-width;
    padding: 0 60px;
	z-index: 1;
	position: relative;

	@include respond(desktop-full) {
		padding:0 50px !important;
	}

    @include respond(phone) {
        padding: 0 30px !important;
    }

	&.wide {
		max-width: 100%;
		margin:0 50px;

		@include respond(desktop-full) {
			padding:100px 50px !important;
		}

		@include respond(phone) {
			padding: 60px 30px !important;
			margin:0 30px;
		}
	}

    &.full {
        max-width:100%;
        padding:0 !important;
        margin:0 !important;

        .columns {
            align-items: normal;
            
            .column-50 {
                width: 50%;
                padding:10% 8%;
                box-sizing: border-box;
            }
        }
    }
}

section {
    padding: 80px 0;

    @include respond(phone) {
        padding: 60px 0;
    }
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;

	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:flex;
		position: relative;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: normal;
		flex-wrap: wrap;
	}

	.column-break { width:100%; height:1px; }
	.column-20 { width:19.5%; }
    .column-25 { width:23%; }
    .column-50 { width:45%; }
    .column-33 { width:30%; }  
    .column-66 { width:63%; }
    .column-75 { width:66%; }
    .column-full { width:100%; justify-content: space-between; }

    .column-20,
	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
		@include respond(tab-port) {
			width:100%;
		}
		&.center {
			margin:0 auto;
		}
        &.centered {
			text-align: center;
            justify-content: center;
		}
        &.block {
            display:block;
        }
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90 {
    display:block;
	width:100%;

	@include respond(phone) {
		&.mobile {
			display:none;
		}
	}
}

.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }

article {
    border-bottom: 1px solid $blk;
    padding-bottom: 0;
    margin-bottom: 20px;
    width: 100%;
}

.pagination {
    padding-top: 0;
    width: 100%;
    justify-content: center;
    display: flex;

    .nav-links {
        display:flex;
        align-items: center;

        a {
            font-size: 20px;
            color:$dkblue;

            &.prev,
            &.next {
                font-size: 0px;
                position: relative;
                width:30px;
                display:inline-block;
                background:none !important;

                &:hover {
                    &::before {
                        background:$white;
                        color:$blk;
                    }
                }

                &::before {
                    height:30px;
                    width:30px;
                    border-radius: 50px;
                    background:none;
                    position:absolute;
                    content:"";
                    font-family: $icomoon;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    transition: $trans;
                }
            }

            &.prev {
                &::before {
                    content:"\e908";
                }
            }

            &.next {
                &::before {
                    content:"\e909";
                }
            }
        }

        .page-numbers {
            height:30px;
            width:30px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            font-size: 16px;
            font-weight: normal;
            background:none;
            border-radius: 50px;
            
            &.current {
                background:none !important;
                color: $dkblue;
                font-weight: $bold;
            }
        }
    }
}

.stars {
    &::after {
        position: relative;
        content: "★★★★★";
        margin-bottom: 10px;
        display: block;
        letter-spacing: 5px;
        color: $green;
        font-size: 20px;
    }
}

// accordion styles //

.accordions {
    width:100%;
    position: relative;
    background:$white;
    padding:25px;
    box-sizing: border-box;
    
    &_title {
        display: flex;
        cursor: pointer;
        padding: 0;
        transition: 0.3s linear;
        text-align: left;
        align-items: center;
        line-height: 100%;
        position: relative;
        text-transform: capitalize;

        &:after {
            content: "+";
            display: inline-block;
            transition:$trans;
            font-size:16px;
            position: absolute;
            color:$green;
            font-size:30px;
            top:4px;
            right:0;
            font-weight: lighter;
        }

        h3 {
            font-size:24px;
            font-weight:700;
            color:$blk;
            transition:$trans;
            margin-bottom:0 !important;
            margin-top:0 !important;
			font-family: $serif;
            max-width: 90%;
        }
        
        &.active {
            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    &_content {
        display: none;
		padding: 10px 0 0;
		text-align: left;
        font-family: $serif;
        width:90%;
        line-height: 170%;

        p {
            margin-bottom: 0;
        }

        ul {
            margin: 0;

            li {
                margin:0;
            }
        }
    }
}

.two-third-col-image {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-gap: 1em;
    img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    &.reverse {
        grid-template-columns: 66% 33%;
    }
    @include respond(phone) {
        grid-gap: 0.25em;
    }
}

.responsive-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.cta-wrapper {
    p {
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.gtranslate_wrapper {
    display: flex;

    a.glink {
        font-family: $sans;
        text-transform: uppercase;
        font-weight: bold !important;
        color: $blk !important;
        padding: 7px 9px;
        text-decoration: none;
        font-size: 14px;

        &.gt-current-lang {
            background: $green;
            color: white !important;
        }
    }
}

iub__us-widget {
    display: none !important;
    /*background: #09472c !important;
    border-top: solid 1px $white !important;
    position: relative;
    padding: 25px 18px !important;
    .iub__us-widget__wrapper {
        background: #09472c;
        border-color: $white;
        margin: 0 auto;
        a, button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            &:hover {
                background: $white;
                color: #09472c;
            }
        }
        button {
            gap: 10px;
            margin: 0 !important;
            &:after {
                content: url('../../assets/img/green-checkbox.svg') !important;
                margin: 0 !important;
            }
        }
    }
}
#iubenda-iframe-popup {
    .iubenda-iframe-brand-img {
        filter: invert(1) !important;
    }*/
}

.value {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    background: none;

    &:nth-of-type(odd) {
        background: $white;
    }

    &-image {
        min-width: 85px;
    }

    &-copy {
        p {
            margin-bottom: 0;
            
            .value-title {
                color: $green;
                display: block;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}