header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 50;
    display:flex;
    height:95px;
    transition: $trans;
    border-bottom: solid 1px $blk;
    
    #header-top {
        display: flex;
        justify-content: space-between;
        max-width: 94%;
        width: 100%;
        align-items: center;
        padding: 0 !important;
        
        &_left {
            display: flex;
            width: 25%;
            justify-content: flex-start;

            .custom-logo-link {
                width: 100%;
                height: auto;
                display:flex;
                z-index: 2;
                .custom-logo {
                    max-height: 60px;
                    max-width: 340px;
                    width: 100%;

                    @include respond(phone) {
                        max-width: 250px;
                    }
                }
            }
            
            @include respond(tab-land) {
                width: 100%;
            }
        }
    }

    .translate {
        position: absolute;
        bottom: -33px;
        right: 0;
        background: white;
        z-index: -1;
        padding: 5px 7px;
        box-sizing: border-box;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);

        span.wglanguage-name {
            font-size: 15px;
            font-weight: bold;
            color: $green;

            &::after {
                position: absolute;
                left: 27px;
                content: "|";
                color: $blk;
                font-weight: normal;
                top: 5px;
                opacity: .3;
            }
        }

        .country-selector {
            z-index: 9999;
            text-align: left;
            position: relative;
            display: flex;
            width: auto;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            a {
                font-size: 14px;
                padding: 0;
            }
        }
    }
}